<!-- Contenedor principal -->
<main id="main">
  <router-outlet></router-outlet>
  <app-login *ngIf="home && service.loginApp"></app-login>
  <div class="principal" *ngIf="home && !service.loginApp">
    <button
      class="principal-button"
      mat-raised-button
      color="primary"
      (click)="navigateToNext('/heroesCreate')"
    >
      {{ 'superDesign' | keys}}
    </button>
    <button
      class="principal-button"
      mat-raised-button
      color="primary"
      (click)="navigateToNext('/heroesList')"
    >
    {{ 'secretLair' | keys}}
    </button>
  </div>
  <!-- Flecha atras -->
  <div class="footer" *ngIf="!home">
    <img
      (click)="navigateToHome()"
      class="footer-backward"
      src="../assets/Images/backward.png"
    />
  </div>
  <!-- LogOut -->
  <img (click)="logout()" *ngIf="!service.loginApp" class="logout" src="../assets/Images/Inicio/Logout.png">
</main>
<!-- LoaderApp -->
<loader-app *ngIf="loader.isLoading"></loader-app>
