// Imagen de fondo, componente principal
main {
    background-image: url("../assets/Images/Inicio/Inicio-desktop.png");
    background-position: center;
    background-size: cover;
    height: 100vh;
}
// Estilo y estructura de los botones de la página principal
.principal {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-around;
    &-button {
        margin-top: 200px;
    }
    @media (max-width: 650px) {
        flex-direction: column;

        &-button {
            margin-top: 5px;
            margin-left: 10%;
            margin-right: 10%;
            width: 80%;
            position: relative;
            top: 250px;
        }
    }
}

// Diseño y posición de la flecha hacia atrás
.footer {
    position: absolute;
    bottom: 700px;
    &-backward {
        width: 150px;
        height: 200px;
        cursor: pointer;
        @media (max-width: 650px) {
            width: 75px;
            height: 100px;
        }
    }
}

// Diseño y posición del boton de logout
.logout {
    position: absolute;
    bottom: 50px;
    width: 50px;
    height: 50px;
    left: 20px;
    cursor: pointer;
}
