<!-- Formulario de creación de heroe -->
<div *ngIf="!selectAvatar" class="form-container HeroCreate">
  <form [formGroup]="heroForm" (ngSubmit)="onSubmit()" class="hero-form">
    <div
      class="error"
      *ngIf="heroForm.get('realName')?.errors?.['pattern'] && heroForm.get('realName')?.touched"
    >
    {{ 'userUpperCase' | keys}}
    </div>
    <div class="error" *ngIf="heroForm.get('realName')?.errors?.['maxlength']">
      {{ 'maxCharacters' | keys}}
    </div>
    <mat-form-field appearance="fill">
      <mat-label *ngIf="!editHeroe">{{ 'name' | keys}}</mat-label>
      <mat-label *ngIf="editHeroe">{{heroSelected.realName}}</mat-label>
      <input matInput formControlName="realName" />
    </mat-form-field>
    <div class="error" *ngIf="heroForm.get('heroName')?.errors?.['maxlength']">
      {{ 'maxCharacters' | keys}}
    </div>
    <mat-form-field appearance="fill">
      <mat-label *ngIf="!editHeroe">{{ 'heroName' | keys}}</mat-label>
      <mat-label *ngIf="editHeroe">{{heroSelected.heroName}}</mat-label>
      <input matInput formControlName="heroName" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label *ngIf="!editHeroe">{{ 'power' | keys}}</mat-label>
      <mat-label *ngIf="editHeroe">{{heroSelected.power}}</mat-label>
      <mat-select formControlName="power">
        <mat-option *ngFor="let power of powers" [value]="power">{{
          power
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="error" *ngIf="heroForm.get('weakness')?.errors?.['maxlength']">
      {{ 'maxCharacters' | keys}}
    </div>
    <mat-form-field appearance="fill">
      <mat-label *ngIf="!editHeroe">{{ 'weakness' | keys}}</mat-label>
      <mat-label *ngIf="editHeroe">{{heroSelected.weakness}}</mat-label>
      <input matInput formControlName="weakness" />
    </mat-form-field>
    <button *ngIf="!editHeroe" mat-raised-button color="primary" type="submit">{{ 'continue' | keys}}</button>
    <button *ngIf="editHeroe" mat-raised-button color="primary" type="submit">{{ 'edit' | keys}}</button>
  </form>
</div>
<!-- Carrusel de avatares -->
<div *ngIf="selectAvatar && !editHeroe" class="avatar-carousel HeroCreate">
  <div class="image-container">
    <img [src]="service.imagesOfAvatar[currentImageIndex]" alt="Avatar" />
  </div>
  <button
    (click)="continueToList(currentImageIndex, service.imagesOfAvatar[currentImageIndex])"
    mat-raised-button
    color="primary"
  >
  {{ 'selectAvatar' | keys}}
  </button>
  <div>
    <button
      mat-icon-button
      (click)="showPreviousHeroe()"
      [disabled]="currentImageIndex === 0"
    >
      <mat-icon class="white">{{ 'carouselLeft' | keys}}</mat-icon>
    </button>
    <button
      mat-icon-button
      (click)="showNextHeroe()"
      [disabled]="currentImageIndex === service.imagesOfAvatar.length - 1"
    >
      <mat-icon class="white">{{ 'carouselRight' | keys}}</mat-icon>
    </button>
  </div>
</div>

<loader-app *ngIf="loader.isLoading"></loader-app>
